<div class="w-100">
  <h1 class="mb-0">Marc
    <span class="text-primary">Vilchez</span>
  </h1>
  <div class="subheading mb-5">Egresado de Ingenieria de Sistemas · TLF.: 939324105 ·
    <a href="mailto:ht.m4rck@gmail.com">ht.m4rck@gmail.com</a>
  </div>
  <p class="lead mb-5">Mi objetivo como desarrollador de software es crear aplicaciones tecnológicamente avanzados que cumplan las necesidades y requisitos de la empresa y los clientes; mi experiencia coincide con las cualidades requeridas para dirigir proyectos de desarrollo de TI.</p>
</div>